.title-container {
  width: 30%;
  height: 10vh;
  margin: auto;
  margin-top: 100px;
  background-color: aquamarine;
  text-align: center;
}
.button-container {
  position: fixed;
  left: 200px;
  top: 100px;
}
.button {
  width: 100px;
  height: auto;
  display: block;
}
